//Variables file
@use "./partials/variables" as *;

// GoogleFont's
@import url("@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Roboto+Condensed&display=swap');");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  background-color: $primaryColor;
}
